.navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255); 
}
  
 
  .userInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right:2rem ;
  }
  
  .usernameHeader {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #183479;
  }
  
  .usernameHeader:hover {
    color: rgb(17, 0, 255); /* Change hover color to white */
    font-weight: bold; /* Make font bold on hover */
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    list-style-type: none;
    align-content: center; 
    align-items: center;
    margin:1rem;
  }

  .nav-list li{
    margin:1rem;
  }
  
  .nav-header{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center; 
  }
  
  .wvfm-logo-div-all{
    display:flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
   
}
.wvfm-logo-div-all img{
  padding-bottom: 1rem;
}
.wvfm-logo-div-text-all{  
    text-align: center;    
}

.nav-list li :hover{
  color:white;
  background-color: rgb(0, 145, 255);
  border-radius: .2rem;  
}